.contact-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.contact-input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.contact-input-box > input {
    border: none;
    background-color: none;
    background: none;
}

.contact-email {
    border-bottom: 1px solid black !important;
    font-size: 17px;
    padding-bottom: 10px;
    padding: 12px 10px
}

.contact-submit {
    background-color: black !important;
    padding: 10px 54px;
    border-radius: 30px;
    color: white;
    font-size: 24px;
    margin-top: 24px;
}