.section-badge {
    font-size: 20px;
    font-weight: normal;
}

.page-title {
    font-size: 48px;
    font-weight: 700;
}

.page-title > strong {
    color: #868686;
    font-weight: 700;
}

.document-cover {
    max-width: 120px;
}

.documents > a {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 16px;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.0);
    padding: 20px 24px;
    transition: all 250ms ease;
}

.documents > a:hover {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 20px 24px;
    border-radius: 6px;
}